*, *::before, *::after{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

*:not(i){
  font-family: sans-serif; 
}

.top-banner{
  background-color: rgb(13, 13, 13);
  font-size: 1.15vw;
  color: rgba(242, 242, 242, 0.75);
  padding: 30px;
}

.top-banner-inner{
  border: 1px solid rgba(242, 242, 242, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.top-banner div div{
  text-align: center;
  font-family: 'futura-pt', sans-serif;
}

.top-banner div div:nth-child(2){
  margin-bottom: 20px;
}

/* Landing */

.landing{
  height: 175vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  ),
  url('./img/hero_wide_fores.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-content{
  color: rgba(242, 242, 242, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.names{
  display: flex;
  justify-content: center;
  align-items: space-around;
}

.names .aubrey, .names .zack{
  color: rgba(242, 242, 242);
  /* font-size: 46px; */
  font-size: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.names .aubrey div, .names .zack div{
  font-family: 'futura-pt', sans-serif;
  font-weight: 300;
}

.names .ampersand{
  /* font-size: 267px; */
  font-size: 18vw;
  font-family: 'Tangerine', cursive;
  margin: 0 40px;
}

.dates{
  /* font-size: 400px; */
  font-size: 20vw;
  font-family: 'aw-conqueror-didot', serif;
  margin-bottom: 60px;
}

.location{
  color: rgba(242, 242, 242);
  /* font-size: 48px; */
  font-size: 3.5vw;
  font-family: 'futura-pt', sans-serif;
  font-weight: 300;
}

/* Bottom */

.bottom-section{
  display:flex;
  flex-flow: row wrap;
}

.bottom-section .bottom-wrapper{
  height: 500px;
  width: 50%;
}

.bottom-section .content-wrapper{
  background-color: rgb(13, 13, 13);
  /* background-color: #1B1E23; */
  font-size: 1.25vw;
  color: rgba(242, 242, 242, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.bottom-section .content-wrapper div{
  font-family: 'aw-conqueror-didot', serif;
}

.bottom-section .content-wrapper .title{
  font-size: 2vw;
  border: 2px solid rgba(242, 242, 242, 0.75);
  padding: 10px 20px;
}

.bottom-section .content-wrapper .address{
  text-align: center;
}

.bottom-section .content-wrapper .address div:first-child{
  font-size: 1.75vw;
  margin-bottom: 10px;
}

.more-info{
  font-size: 1.25vw;
}

/* Map */

#map {
  height: 100%;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

.gmnoprint{
  display: none;
}

.gm-style-cc{
  display:none;
}

.footer{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1E23;
  color: white;
  font-size: 10px;
}

/* iPad - portrait */

@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1400px)
and (orientation : portrait) {
  .landing{
    height: 100vh;
  }

  .bottom-section .bottom-wrapper{
    height: 400px;
  }

  .bottom-section .content-wrapper .title{
    font-size: 3vw;
  }

  .bottom-section .content-wrapper .address div{
    font-size: 2.5vw !important;
  }

  .bottom-section .content-wrapper .more-info{
    font-size: 2vw;
  }
}

/* iPad - landscape */

@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1400px)
and (orientation : landscape) {
  .landing{
    height: 200vh;
  }
}

/* iPhone */

@media only screen
and (min-width : 375px)
and (max-device-width : 812px) {
  .top-banner{
    font-size: 2.0vw;
  }

  .landing{
    height: 100vh;
  }

  .names{
    margin-top: 50px;
  }

  .names .aubrey, .names .zack{
    font-size: 4.5vw;
  }

  .dates{
    /* font-size: 220px; */
    font-size: 22vw;
  }

  .location{
    font-size: 4.5vw;
  }

  .bottom-section .bottom-wrapper{
    width: 100% !important;
    height: 500px !important;
  }

  .bottom-section .content-wrapper{
    padding: 50px 0;
    font-size: 4vw;
  }

  .bottom-section .content-wrapper .title{
    font-size: 5vw;
  }

  .bottom-section .content-wrapper .address div{
    font-size: 3vw;
  }

  .bottom-section .content-wrapper .address div:first-child{
    font-size: 4vw;
  }

  .bottom-section .content-wrapper .more-info{
    font-size: 2.5vw;
  }
}
